/* Styling */

.text-accent-light {
    color: var(--accent-color-light);
}

.text-accent-dark {
    color: var(--accent-color-dark);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bold-600 {
    font-weight: 600;
}

.copyright-style {
    font-size: 12px;
    color: var(--decor-dark);

    @media screen and (min-width: $bp-tablet) {
        font-size: 14px;
    }
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.next {
    transform: rotate(180deg);
}

.margin-right-22 {
    margin-right: 22px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-top-24 {
    margin-top: 24px;
}

.text_limited {
    max-width: 340px;
}