/* Variables */

:root {
    --primary-dark: #31261A;
    --primary-light: #FAF4EA;
    --accent-color-light: #819B57;
    --accent-color-dark: #465929;
    --decor-light: #CFCFBC;
    --decor-dark: #A18268;
}

$bp-mobile: 480px;
$bp-tablet: 786px;
$bp-desktop: 1280px;