// Buttons

// mobile
// tablet
// desktop

/* Callback Button */
.callback-button {
    // General
    display: block;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-light);
    background-color: var(--accent-color-light);
    border: 2px solid var(--accent-color-light);
    border-radius: 8px;
    cursor: pointer;

    @media screen and (min-width: $bp-desktop) {
        font-size: 18px;
        padding: 16px 32px;
    }

    &:hover {
        color: var(--accent-color-dark);
        background-color: var(--primary-light);
    }

    // Modificators
    // Header
    &_header {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: block;
        }
    }

    // Modern bakery
    &_modern-bakery {
        margin: 0px auto;

        @media screen and (min-width: $bp-desktop) {
            display: none;
        }
    }

    // Form
    /* Modificator */
    &_form {
        margin: 0 auto 24px;
    }
}

// Header Burger button
.header__burger {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;

    fill: var(--primary-light);

    @media screen and (min-width: $bp-tablet) {
        display: none;
    }
}

/* Carousel button */
.carousel-button {
    display: none;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--primary-dark);
    cursor: pointer;

    // for icon
    fill: var(--primary-dark);

    @media screen and (min-width: $bp-desktop) {
        display: flex;
    }

    &:hover {
        background-color: var(--primary-dark);

        // for icon
        fill: var(--primary-light);
    }
}

/* Pagination buttons */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &__button {
        flex-shrink: 0;
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 50%;
        background-color: var(--decor-dark);
        cursor: pointer;

        &_active {
            background-color: var(--accent-color-dark);
        }
    }
}


/* JS */
// .modal-btn-open{}
// .menu-btn-close{}

.button-close {
    position: absolute;
    right: 40px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0px;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    fill: var(--primary-dark);


    @media screen and (min-width: $bp-tablet) {
        width: 30px;
        height: 30px;
    }

    &:hover {
        background-color: var(--primary-dark);
        fill: var(--primary-light);
    }
}

.menu-btn-close {
    right: 24px;
    top: 16px;
}