/* Form */


.form {

    /* Modifier */
    &_margin-top-72 {
        margin-top: 72px;
    }

    /* Modifier */
    &_margin-top-42 {
        margin-top: 42px;
    }

    &__field {

        /* Modifier */
        &_margin-32 {
            margin-bottom: 32px;
        }

        /* Modifier */
        &_margin-24 {
            margin-bottom: 24px;
        }
    }

    &__input {
        padding: 16px 42px;
        width: 100%;
        font-size: 16px;
        line-height: 1.17;
        border: 1px solid var(--decor-dark);
        border-radius: 8px;
        background-color: transparent;


        &:focus {
            border-color: var(--accent-color-light);
            outline: none;
        }

        &::placeholder {
            font-size: 16px;
            line-height: 1.17;
            color: var(--decor-dark);
        }

        &:focus::placeholder {
            color: var(--primary-dark);
        }
    }

    &__terms {
        max-width: 220px;
        margin: 0 auto;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
    }

    &__link {
        color: var(--primary-dark);
        text-underline-offset: 2px;
    }
}