/* Navigation */
.navigation {
    display: flex;

    &__item {
        color: var(--primary-light);
        text-decoration: none;
        transition: color 0.3s;
    }

    &__item:hover {
        color: var(--accent-color-light);
    }

    // Header
    /* Modificator */
    &_header {
        align-items: center;
        flex-grow: 1;
        gap: 40px;
    }

    /* Modificator */
    &__list_header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 64px;
    }

    // Footer
    /* Modificator */
    &_footer {
        flex-basis: 50%;
        gap: 20px;
    }

    /* Modificator */
    &__logo {
        flex-basis: 50%;
    }

    /* Modificator */
    &__list_footer {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 16px;
    }
}