/* Chefs section */
.chefs {
    padding: 48px 0;

    &__title {
        position: relative;
        margin: 0 auto 80px;
        text-align: center;

        &::after,
        &::before {
            background-color: var(--decor-light);
            content: "";
            position: absolute;
            bottom: 24px;
            width: 352px;
            height: 2px;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 30px;
    }

    &__item {
        flex-basis: calc((100% - 30px) / 2);
    }
}


.chef {
    display: flex;
    gap: 30px;

    &__img {
        border-radius: 4px 4px 4px 200px;
        box-shadow: -16px 16px 0 0 var(--primary-light), -16px 16px 0 2px var(--decor-dark);

        &:hover {
            transform: scale(1.04);
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}