/* Footer */
.footer {
    position: relative;
    background-image: url('../img/footer-background.png');
    background-color: var(--primary-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 32px 0;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &::before {
        width: 180px;
        height: 120px;
        background-image: url('../img/footer-decor-bread-small.png');
    }

    &::after {
        right: 0px;
        width: 380px;
        height: 190px;
        background-image: url('../img/footer-decor-bread-big.png');
    }

    &__container {
        display: flex;
        gap: 20px;
    }
}


.address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;

    &__list {
        flex-basis: 50%;
    }

    &__item {
        font-size: 16px;
        font-weight: 300;
        color: var(--primary-light);
        text-decoration: none;
    }

    &__item:hover {
        color: var(--accent-color-light);
    }

    &__icon {
        fill: var(--primary-light);
    }

    &__ico:hover {
        fill: var(--accent-color-light);
    }

    &__info {
        flex-basis: 50%;
    }
}