/* Formats section */

// mobile
// tablet
// desktop

.formats {
    padding: 20px 0;

    @media screen and (min-width: $bp-tablet) {
        padding: 48px 0;
    }

    &__title {
        margin-bottom: 24px;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 40px;
        }

        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 80px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__swiper {
        overflow: hidden;
    }

    // for JS
    // .swiper-container{}

    // for Swiper
    // .swiper-wrapper{}
    // .swiper-slide{}
    // .prev{}
}

.format {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    height: 300px;
    min-width: 180px;
    color: var(--primary-light);
    border-radius: 16px;
    transition: transform 0.3;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $bp-tablet) {
        height: 280px;
    }

    @media screen and (min-width: $bp-desktop) {
        height: 444px;
    }

    &:hover {
        transform: scale(1.04);
    }

    &-walrus {
        background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--primary-dark) 100%), url('../img/walrus-format.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--primary-dark) 100%), url('../img/walrus-format@2x.jpg');
        }
    }

    &-horseshoe {
        background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--primary-dark) 100%), url('../img/horseshoe-format.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--primary-dark) 100%), url('../img/horseshoe-format@2x.jpg');
        }
    }

    &-handlebar {
        background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--primary-dark) 100%), url('../img/handlebar-format.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--primary-dark) 100%), url('../img/handlebar-format@2x.jpg');
        }
    }

    &__title {
        margin-bottom: 16px;
    }

    &__description {
        font-size: 14px;
        font-weight: 300;
    }
}